
@{
    Layout = "~/Views/Shared/_LayoutForUsersDetails.cshtml";
}

<h2>Home Page for Users Details</h2>
@Html.ActionLink("Create New User", "CreateUser", "Users");<br />
@Html.ActionLink("Get All Users", "AllUsers", "Users");

