
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h1>Details Page for Redirect Controller</h1>
        <a href="/Redirect/Home">Home</a>
        <a href="/Redirect/AboutUs">About Us</a>
        <a href="/Redirect/ContactUs">Contact Us</a>
        <a href="/Redirect/Details">Details</a>
    </div>
</body>
</html>
